.topFixedPage{
    background-image: url("../asset/images/b10.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.topPageOverlay{
    position: absolute;
    min-height: 250px;  /*seemsthe above class min height */
   width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.topPageTitle{
    font-family: sans-serif;
    font-weight: 700;
    color:whitesmoke;
    font-size: 40px;
  
}
.topContent{
    margin-top: 1em;
}