.topFixedBanner{
    background-image: url("../images/bc7.jpg");
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay{
    position: absolute;
    min-height: 550px;  /*seems like the above class min height */
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.topContent{
    padding-top: 10em;
}

.topTitle{
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
}

.topSuptitle{
    font-family: Raleway ,sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 35px;
}

.Start{
    margin: 6px 6px 6px 6px;
}

.paragrph{
color: lightyellow;
font-size: 18px;
}